<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="asset/index.js"></script>
        <title>
            Donate Here
        </title>
    </head>
    <body>
        <h2 id="header2">U Can Donate Here</h2>
        <p>Address of your account</p>
        <input type="text" id="add" name="add" value="">
        <p>Amount</p>
        <input type="number" id="amt" name="amt" value="">
        <p><input id="b1" type="button" value="DONATE"></p>
    </body>
</html>