<!DOCTYPE html>
<html>
    <head>
        
        <script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="asset/index.js"></script>
        <script src="asset/mainjs.js"></script>
       
        <title>
            DONATE COIN
        </title>
    </head>
    <body>
        <div id="s1">
            <h2 id="header1">DONATE COIN</h2>
        
        <button id="bbb1">CLICK HERE TO DONATE</button>
        
        <button id="bbb2">CLICK HERE TO CHECK THE CONTIBUTIONS</button>
           
        </div>
        <input id="b2" type="button" value="TotalDonations" />
        <section id="td" hidden>
               0
        </section>
    </body>
</html>